{% extends "base.html" %}
{% load static %}
{% block body %}

    {% include 'dialogue.html' %}
    {% include 'header.html' %}
    {% include 'alerts.html' %}


    <section class="min-h-screen px-10"> 
        <div class="mt-2">
            <a href="/">Go to home</a>
        </div>
        <p class="font-bold text-lg mt-2">All Records</p>
        <div class="divider"></div>
        <div class="">
            <div class="overflow-x-auto">
                <table class="table">
                    <!-- head -->
                    <thead>
                        <tr>    
                            <th>Image</th>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Gender</th>
                            <th>Class</th>
                            <th>Guardian Name</th>
                            <th>Contact no</th>
                            <th>School Name</th>
                            <th>Activity 1</th>
                            <th>Activity 2</th>
                            <th>Activity 3</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for record in records %}
                        <tr class="cursor-pointer hover:bg-accent" onclick="ShowData('{{record.0.student_id}}')">
                            <td>
                                <div class="avatar">
                                    <div class="h-12 w-12 rounded-full">
                                        {% if record.0.image %}
                                        <img src="{{record.0.image.url}}">
                                        {% else %}
                                        <img src="{% static 'media/student.svg' %}" >
                                        {% endif %}
                                    </div>
                                </div>
                                
                            </td>
                            <td>{{record.0.student_id}}</td>
                            <td>{{record.0.student_name}}</td>
                            <td>{{record.0.student_gender}}</td>
                            <td>{{record.0.Class}}</td>
                            <td>{{record.0.guradian_name}}</td>
                            <td>{{record.0.contact_number}}</td>
                            <td>{% if record.0.school_name %} {{record.0.school_name}} {% else %} {{record.0.other_school_name}} {% endif %}</td>
                            {% for act in record.1 %}
                                <td class=leading-3>
                                    {{act.activity}}<br>
                                    <span class="text-xs">
                                        {{act.time}}
                                    </span>
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                </div>
        </div>
    </section>
 
    {% include 'footer.html' %}

{% endblock %}