{% extends "base.html" %}
{% load static %}
{% block body %}

    <header class="bg-[#e6e6e6] flex items-center p-5 shrink-0">
        <div class="me-2">
            <img src="{% static '/media/st.jpg' %}" class="h-20 w-20">
        </div>
    
        <div class="grow ">
            <div class="flex mb-1 justify-center items-center">
                <h1 class="text-3xl font-extrabold">St Xaviers School</h1>
            </div>
            <div class="mb-3">
                <p class="text-md font-bold text-center">SUMMER CAMP 2024</p>
            </div>
    
            <div class="flex justify-between me-10 text-sm font-bold">
                <p>Affiliated to CBSE (A school upto 10+2 level)</p>
                <p>Sammopur, Azamgarh, UP</p>
            </div>
        </div>
    </header>
    {% include 'alerts.html' %}
    <style>
        input, select, textarea{
            height:2rem !important;
        }
        
    </style>
    <section class="min-h-screen">
        <div class="p-5">
            <form>
                {% csrf_token %}

                
                <div class="grid grid-cols-3 gap-3 mt-3">
                    <div class="row-span-2">
                        <label for="id_image" id="image_select">
                            <img src="{{image}}" class="mx-auto overflow-hidden object-cover h-[120px] w-[120px]">
                            <p class="text-center font-bold">{{ form.student_id.value }}</p>
                        </label>
                    </div>
                    
                    <div class="flex flex-col">
                        {{ form.school_name.label_tag }}
                        {{ form.school_name }}
                    </div>
                   
    
                    <div class="flex flex-col ">
                        
                        {{ form.name.label_tag }}
                        {{ form.name }}
                    </div>
    
                
                    <div class="flex flex-col">
                        
                        {{ form.gender.label_tag }}
                        {{ form.gender }}
                    </div> 

                    <div class="flex flex-col">
                       
                        {{ form.guradian_name.label_tag }}
                        {{ form.guradian_name }}
                    </div> 

                    <div class="flex flex-col">
                      
                        {{ form.contact_number.label_tag }}
                        {{ form.contact_number }}
                    </div>

                    <div class="flex flex-col">
                      
                        {{ form.Class.label_tag }}
                        {{ form.Class }}
                    </div>
                </div>
                <div class="grid grid-cols-2 gap-3 mt-3">
                    <div class="flex flex-col">
                       
                        {{ form.activity1.label_tag }}
                        {{ form.activity1 }}
                    </div> 

                    <div class="flex flex-col">
                       
                        {{ form.time1.label_tag }}
                        {{ form.time1 }}
                    </div> 


                    <div class="flex flex-col">
                       
                        {{ form.activity2.label_tag }}
                        {{ form.activity2 }}
                    </div> 

                    <div class="flex flex-col">
                        
                        {{ form.time2.label_tag }}
                        {{ form.time2 }}
                    </div> 

                    <div class="flex flex-col">
                        
                        {{ form.activity3.label_tag }}
                        {{ form.activity3 }}
                    </div> 

                    <div class="flex flex-col">
                        
                        {{ form.time3.label_tag }}
                        {{ form.time3 }}
                    </div> 
               
                </div>
                
            </form>
        </div>
    
    </section>

        
    <script type="text/javascript">print();</script> 

{% endblock %}